{{ form.as_p }}
<div class="privacy_div_custom">
    <p class="privacy_text_custom">Люди, которые пользуются нашим сервисом, могли загрузить вашу
        контактную информацию в Instagram. <a href="#" class="privacy_link_custom">Подробнее</a>
    </p>
    <p class="privacy_text_custom">Регистрируясь, вы принимаете наши Условия, Политику конфиденциальности и Политику в
        отношении файлов cookie.</p>
</div>
<button type="submit" class="btn btn-primary login_button_custom">{{ button_text }}</button>
