{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="header"></div>
        <div class="main">
            <div class="main_blocks">
                <div class="main_blocks_pic">
                    <img src="/static/images/index_phones.png" alt="phones">
                </div>
            </div>
            <div class="main_blocks">
                <div class="main_blocks_form">
                    <div class="login_form_div">
                        <div class="login_form_div_logo">
                            <img src="/static/images/instagram_logo.png" alt="Instagram" class="instagram_logo">
                        </div>
                    </div>
                    <div class="login_form_form">
                        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                            <h2 class="register_header">Зарегистрируйтесь, чтобы смотреть фото и видео ваших
                                друзей.</h2>
                            <div class="facebook_login_div">
                                <p class="facebook_login">
                                    <a href="#" class="facebook_login_link">
                                        Войти через Facebook
                                    </a>
                                </p>
                            </div>
                            <div class="or_text">
                                <p class="login_or_custom">ИЛИ</p>
                            </div>
                            <div class="form custom_form">
                                {% csrf_token %}
                                {% include 'partial/register_form.html' with button_text='Register' %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="main_blocks_register">
                    <div class="register_card mt-3">
                        <p class="register_text mt-2">Есть аккаунт?<br> <a
                                href="{% url 'login' %}" class="custom_register_button_login">Войти</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
